#topHeader {
	color: #d6d6d6;
	font-size: xx-large;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-align: center;
	top: 0;
	width: 100%;
	background-color: black;
	font-family: 'Lobster', helvetica, arial;
}

body {
	border-left: 100px solid #000066;
	border-right: 100px solid #000066;
	border-bottom: 20px solid black;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.sectionPicture {
	height: 150px;
	width: 150px;
	border-radius: 20%;
	padding: 30px;
}

section {
	padding-top: 3%;
	padding-left: 3vw;
	text-align: left;
	width: 50vw;
}

h2 {
	font-size: xx-large;
}

h3 {
	color: black;
}

article {
	float: right;
	color: #000080;
	width: 10vw;
	height: 75%;
	background-color: #d1d1e0;
	margin-right: 20%;
	bottom: -26%;
	left: 75%;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
}

aside p {
	margin-top: 30%;
	margin-bottom: 30%;
}

footer {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 0;
	text-align: center;
	font-size: small;
}