body {
	background-color: #ffffcc;
	text-align: justify;
	}

p {
	text-indent: 1em;
	font: sans-serif;
	font-style: italic;
	margin: 10px;
}


img {
	border: 3px solid red;
}

figcaption {

}

h5 {
font-style: bold;
}

h1, h2, h3, h4, h5, h6 {
text-align: center;
}


h1, h2 {
border: 2px solid #ff9966;
}



div.fig { 
	display:block; 
	margin:0 auto; 
	text-align:center; 
}

div.middle { 
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify; 
}
  
.figleft   {
	float: left;
	margin-left: 0%; 
	margin-right: 1%;
 }
 
.figright  {
	float: right; 
	margin-right: 0%; 
	margin-left: 1%;
}


.pagenum   {
	display:inline;
	font-size: 100%; 
	font-style:normal;
	margin: 0;
	padding: 0;
	position: absolute; 
	right: 1%;
	text-align: right;
}

.side { 
	float: left; 
	font-size: 75%; 
	width: 25%; 
	padding-left: 0.8em;
	border-left: dashed thin; 
	text-align: left;
	text-indent: 0; 
	font-weight: bold; 
	font-style: italic;
	font-weight: bold; 
	color: black; 
	background: #eeeeee; 
	border: solid 1px;
}

p.pfirst, p.noindent {text-indent: 0}

span.dropcap { 
	float: left;
	margin: 0 0.1em 0 0; 
	line-height: 0.8 
 }
 
 
pre { 
	font-style: italic; 
	font-size: 90%;
	margin-left: 10%;
}